n8n/n8n_agent_flow_ai.json
{
    "nodes": [
      {
        "parameters": {
          "chatMessage": {
            "triggerOnWords": [
              "crear tarea",
              "listar tareas",
              "cambiar estado"
            ]
          },
          "options": {}
        },
        "name": "Trigger On Chat Message (Tareas)",
        "type": "n8n-nodes-base.triggerOnChat",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "switch": [
            {
              "condition": "contains",
              "value": "{{ $json.body.message.text }}",
              "value2": "crear tarea",
              "conditionType": "string",
              "property": "body.message.text",
              "propertyType": "json",
              "propertyValue": ""
            }
          ],
          "options": {}
        },
        "name": "Check Message Type",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [450, 200]
      },
      {
        "parameters": {
          "functionCode": "let message = $json.body.message.text;\nlet parts = message.replace('crear tarea:', '').split(',');\nreturn [\n    {\n        json: {\n            titulo: parts[0].trim(),\n            descripcion: parts[1].trim(),\n            responsable: parts[2].trim(),\n            estado: 'Creada'\n        }\n    }\n];",
          "options": {}
        },
        "name": "Extract Task Details",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [650, 150]
      },
      {
        "parameters": {
          "url": "=http://backend:3000/api/tareas",
          "authentication": "none",
          "method": "POST",
          "jsonBody": true,
          "jsonBodyData": "={{$json}}",
          "options": {}
        },
        "name": "Create Task (API)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [850, 150]
      },
      {
        "parameters": {
          "switch": [
            {
              "condition": "contains",
              "value": "{{ $json.body.message.text }}",
              "value2": "listar tareas",
              "conditionType": "string",
              "property": "body.message.text",
              "propertyType": "json",
              "propertyValue": ""
            }
          ],
          "options": {}
        },
        "name": "Check List Command",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [450, 350]
      },
      {
        "parameters": {
          "url": "=http://backend:3000/api/tareas",
          "authentication": "none",
          "options": {}
        },
        "name": "List Tasks (API)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [650, 350]
      },
      {
        "parameters": {
          "functionCode": "let tasks = $json.response.map(task => `ID: ${task.id}\nTitulo: ${task.titulo}\nEstado: ${task.estado}\nResponsable: ${task.responsable}\n\n`);\nreturn [\n    {\n        json: {\n            message: `Tareas en el sistema:\n${tasks.join('')}`\n        }\n    }\n];",
          "options": {}
        },
        "name": "Format Task List",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [850, 350]
      },
      {
        "parameters": {
          "switch": [
            {
              "condition": "contains",
              "value": "{{ $json.body.message.text }}",
              "value2": "cambiar estado",
              "conditionType": "string",
              "property": "body.message.text",
              "propertyType": "json",
              "propertyValue": ""
            }
          ],
          "options": {}
        },
        "name": "Check Change Status",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [450, 500]
      },
      {
        "parameters": {
          "functionCode": "let message = $json.body.message.text;\nlet parts = message.replace('cambiar estado de tarea:', '').split(',');\nreturn [\n    {\n        json: {\n            id: parts[0].trim(),\n            estado: parts[1].trim()\n        }\n    }\n];",
          "options": {}
        },
        "name": "Extract Status Change Details",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [650, 500]
      },
      {
        "parameters": {
          "url": "=http://backend:3000/api/tareas/{{$json.id}}",
          "authentication": "none",
          "method": "PUT",
          "jsonBody": true,
          "jsonBodyData": "={{$json}}",
          "options": {}
        },
        "name": "Update Task Status (API)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [850, 500]
      }
    ],
    "connections": {
      "Trigger On Chat Message (Tareas)": [
        {
          "node": "Check Message Type",
          "port": 0
        },
        {
          "node": "Check List Command",
          "port": 0
        },
        {
          "node": "Check Change Status",
          "port": 0
        }
      ],
      "Check Message Type": [
        {
          "node": "Extract Task Details",
          "port": 0
        }
      ],
      "Extract Task Details": [
        {
          "node": "Create Task (API)",
          "port": 0
        }
      ],
      "Check List Command": [
        {
          "node": "List Tasks (API)",
          "port": 0
        }
      ],
      "List Tasks (API)": [
        {
          "node": "Format Task List",
          "port": 0
        }
      ],
      "Check Change Status": [
        {
          "node": "Extract Status Change Details",
          "port": 0
        }
      ],
      "Extract Status Change Details": [
        {
          "node": "Update Task Status (API)",
          "port": 0
        }
      ]
    }
  }
  